*{text-align: center;}
.menu{padding-top: 3%; text-align: right;}
a{color: black; text-decoration: none;}
label{font-size: 25px;}
.datos{margin-top: 15%;}
input{ width: 25%; border-radius: 10px; padding: 1%; border: 2px solid black;}
button{width: 20%;margin: 10% auto; font-size: 25px; padding: 10px;}

/*----------------@media----------------*/
@media screen and (max-width:768px){
    .menu, label{font-size: 20px;}
    input{width: 70%;}
    button{width: 60%; margin-top: 15%;}
}