*{outline: 1px solid red;}
section{text-align: center;}
table{margin: auto;}
.caja-juego{width: 100%; margin: auto;}
table td{border: 2px solid black;}
.cuadro{width: 100px; height: 100px; text-align: center; color: black;}
table td:first-child{border-left:none;}
table td:last-child{border-right:none;}
table tr:first-child td{border-top:none;}
table tr:last-child td{border-bottom:none;}
