body{font-family: 'Gloria Hallelujah', cursive; background: #f15f60;}
/*-------------------------- Generales --------------------------*/
header{position: relative; z-index:100;}
section{text-align: center; position: absolute; width:100%; height:100%; top:0; left:0; display: none; opacity:0; font-size: 20px;}
h1{font-size: 45px;}
h2{font-size: 35px;}
h3{font-size: 25px;}
h4{font-size: 20px;}
.visible{opacity:1; display: table;}
.content{display:table-cell; vertical-align: middle;}
.margin{margin-top: 70px;}
/*-------------------------- Menú --------------------------*/
header img{display: inline; width: 50px; margin: 10px}
header h3{display: inline;}
header li{font-size: 20px; margin-top:7px;}
header li:hover{background: #f15f60; font-size: 30px;}
/*-------------------------- Primera Pantalla --------------------------*/
#inicio h1{margin-bottom: 10%;}
/*-------------------------- Segunda Pantalla --------------------------*/
input{margin: 5px auto 20px; width: 250px; border: 2px solid #bec0c1; border-radius: 5px; text-align: center; height: 50px; padding: 10px;}
/*-------------------------- Tercera pantalla --------------------------*/
.caja-juego{width: 100%; margin: auto;}
table{margin: auto;}
table td{border: 2px solid black;}
.two{display: none;}
.gato{width: 80px; height: 80px; text-align: center; color: black;}
/*-------------------------- Cuarta Pantalla --------------------------*/
ul{list-style: none; padding-left: 0;}
#historial li{width: 90%; margin: 10px auto; border: 2px solid black; padding: 10px;}
/*-------------------------- Quinta Pantalla --------------------------*/
#comentarios li{width: 90%; border: 2px solid black; padding: 10px; margin: 10px auto;}

/*-------------------------- @media--------------------------*/
@media screen and (max-width:767px){
    #historial li{width: 80%;}
}